pkgbase = nothing-linux
	pkgdesc = Local desktop controller for Nothing Ear (2024) earbuds
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/Dospacite/NothingLinux
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = pkgconf
	makedepends = rust
	depends = bluez
	depends = dbus
	depends = gtk4>=4.14
	depends = libadwaita>=1.5
	source = nothing-linux-0.1.2.tar.gz::https://github.com/Dospacite/NothingLinux/archive/refs/tags/v0.1.2.tar.gz
	sha256sums = 050c879c07f7fdd1bb044060738d68a991ddebbef2edb0673509bde9bb27ca78

pkgname = nothing-linux
