pkgbase = nothing-linux
	pkgdesc = Local desktop controller for Nothing Ear (2024) earbuds
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/Dospacite/NothingLinux
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = pkgconf
	makedepends = rust
	depends = bluez
	depends = dbus
	depends = gtk4>=4.14
	depends = libadwaita>=1.5
	source = nothing-linux-0.1.3.tar.gz::https://github.com/Dospacite/NothingLinux/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = 4580492406f4fab21def6b8cc0400c00c7285d1ca0c4a550223b27337968c455

pkgname = nothing-linux
